* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

&::-webkit-scrollbar {
  width: 10px;
}

&::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 30%;
  box-shadow: 0 0 30px 30px var(--mainColor);
}
&::-webkit-scrollbar-track {
  background-color: #fff1;
}

#root {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-color: var(--mainBg);
  direction: rtl;
  font-family: "Cairo", sans-serif;
  color: var(--whiteColor);
  position: relative;
  min-height: 100vh;
}

.to-up {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #fff1;
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  right: -100px;
  bottom: 20px;
  z-index: 10;
  transition: var(--trans);
  &:hover {
    opacity: 1;
  }
  &.show {
    right: 20px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Blur Circle */

.middle-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--whiteColor);
  width: 150px;
  height: 150px;
  z-index: -1;
  filter: blur(200px);
}
.cricle-left-small {
  filter: blur(200px);
  position: absolute;
  top: 30px;
  left: 80px;
  width: 200px;
  height: 200px;
  background-color: var(--whiteColor);
}
.contact {
  .cricle-left-small {
    @media (max-width: 776px) {
      display: none;
    }
  }
}

/* Loader */
.light-overlay {
  width: 100%;
  height: calc(83vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  cursor: no-drop;
  h2 {
    font-size: 35px;
    span {
      color: var(--mainColor);
    }
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--mainColor) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main Item's */

.main-btn,
.secondary-btn {
  padding: 7px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: var(--trans) ease;
  text-decoration: none;
  &.not-click {
    opacity: 0.2;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    cursor: no-drop;
    margin: auto;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    scale: 0.95;
  }
}

.main-btn {
  background-color: #5f2ded;
}

.main-btn-option {
  display: flex;
  gap: 8px;
  letter-spacing: 1.2px;
}
.secondary-btn {
  background-color: var(--mainColor);
}

.main {
  position: relative;
  .second {
    position: absolute;
    top: -70px;
    font-size: 70px;
    @media (max-width: 776px) {
      font-size: 30px;
      top: -50px;
    }
    color: #fff3;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  .main-title {
    width: fit-content;
    margin: 0 auto 60px;
    font-size: 40px;
    @media (max-width: 776px) {
      font-size: 27px;
    }
    letter-spacing: 1.2px;
    position: relative;

    padding-bottom: 10px;
    border-bottom: 3px solid;
    .second {
      position: absolute;
      z-index: -1;
      width: 100%;
      left: 0;
      font-size: 80px;
    }
    &.show {
      color: var(--mainBg);
    }
    &::before {
      content: "";
      border-width: 12px;
      border-style: solid;
      border-color: transparent var(--mainColor) transparent transparent;
      position: absolute;
      left: -23px;
      bottom: -14px;
    }
    &::after {
      content: "";
      border-width: 12px;
      border-style: solid;
      border-color: transparent transparent transparent var(--mainColor);
      position: absolute;
      right: -23px;
      bottom: -14px;
    }
    span {
      &::before {
        content: "";
        width: 70%;
        left: 50%;
        bottom: -13px;
        transform: translateX(-50%);
        position: absolute;
        height: 3px;
        background-color: var(--mainColor);
      }
    }
  }
}

.loading {
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.error-message {
  font-size: 15px;
  color: #f05;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
}
