.galary {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  .galary-shape-1 {
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0.08;
    pointer-events: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    .box {
      flex-basis: 23%;
      cursor: pointer;
      transition: var(--trans);
      &:hover {
        transform: translateY(-10px);
      }
      position: relative;
      height: 200px;
      padding: 10px;
      background-color: #fff1;
      border-radius: 6px;
      @media (min-width: 776px) and (max-width: 992px) {
        flex-basis: 48%;
      }
      @media (max-width: 776px) {
        flex-basis: 100%;
        width: 100%;
      }

      img {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
      }
    }
  }
  .lightbox {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: -100%;
    background-color: #0008;
    height: 100%;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--trans);
    &.show {
      left: 0;
    }
    .box {
      background-color: #fff2;
      cursor: auto;
      padding: 20px;
      border-radius: 6px;
      animation: scaling 0.5s 1s linear;
      transition: var(--trans);
      transition-delay: 1s;
      h2 {
        text-align: center;
        margin-bottom: 15px;
        color: var(--mainColor);
        font-weight: bold;
        font-size: 30px;
      }
      img {
        height: 350px;
        @media (max-width: 776px) {
          width: 300px;
          height: 250px;
        }
        border-radius: 6px;
      }
    }
  }
}

@keyframes scaling {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}
